{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
            "browsers": ["last 2 versions"]
        }
      }
    ],
    [
      "@babel/preset-stage-2",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ]
}
