{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
            "browsers": ["last 2 versions"],
            "node": "current"
        }
      }
    ],
    [
      "@babel/preset-stage-0",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ]
}
