.card-item {
  width: 80%;
  margin: 20px 10%;
  cursor: pointer;
  color:  #464342;
  @media only screen and (min-width: 480px) {
    width: 40%;
    margin: 20px 5%;
  }
  @media only screen and (min-width: 768px) {
    width: 160px;
    margin: 20px 0 20px 20px;
  }

  .card-image {
    @media only screen and (min-width: 768px) {
      height: 210px;
      min-height: 210px;
      overflow: hidden;
    }

    .card-image-item {
      min-height: 210px;
    }
  }

  .card-content {
    padding-bottom: 5px;
    position: relative;
    @media only screen and (min-width: 768px) {
      padding-bottom: 10px;
    }

    .card-content-availability {
      position: absolute;
      top: 5px;
      right: 8px;
      font-size: 11px;
      font-weight: 400;
      color: #e6250a;
    }

    .card-content-title {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 5px;
    }

    .card-content-authors {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 10px;

      span {
        color: #b1b1b1;
      }
    }
  }
}
