.card-item {
  width: 80%;
  margin: 20px 10%;
  cursor: pointer;
  @media only screen and (min-width: 480px) {
    width: 40%;
    margin: 20px 5%;
  }
  @media only screen and (min-width: 768px) {
    width: 160px;
    margin: 20px 0 20px 20px;
  }

  .card-image {
    @media only screen and (min-width: 768px) {
      height: 210px;
      min-height: 210px;
      overflow: hidden;
    }

    .card-image-item {
      min-height: 210px;
    }
  }

  .card-content-title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
  }

  .card-content-authors {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      color: #b1b1b1;
    }
  }
}
