.main__route-container-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  @media only screen and (min-width: 768px) {
    justify-content: flex-end;
  }

  .btn-small {
    @media only screen and (max-width: 480px) {
      font-size: 12px;
      padding: 0 1rem;
    }
  }

  .sidebar-toggle {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .filterbar-toggle {
    margin-right: 20px;

    &:hover, &:active {
      background-color: #EDEAEA;
    }
  }
}
