.header__container {
  height: auto;
  padding-rigth: 20px;

  .brand-logo {
    margin-left: 30px;
    @media only screen and (max-width: 992px) {
      left: 30px;
    }

    &-container {
      height: 64px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      div {
        img.logo-img {
          width: 35px;
          height: auto;
          border-radius: 50%;
          margin: 20px 10px 0 0;
          @media only screen and (max-width: 600px) {
            margin: 10px 10px 0 0;
          }
        }
      }

      p.logo-text {
        font-size: 20px;
      }
    }
  }

  .right {
    margin-right: 20px;

    .header-btn {
      cursor: pointer;

      .header__user-logo {
        margin-right: 5px;
      }

      .header__user-name {
        font-size: 12px;
        margin-right: 15px;
      }
    }
  }
}
