.book__list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
  @media only screen and (max-width: 768px) {
    padding: 0;
  }

  .book__item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.show-table {
  flex-direction: column;
}
